/* ---------------------------HEADER---------------------------- */

*{
    margin: 0;
    padding: 0;
}
html{
    background-color: #0b0715;
}

body{
    height: 100vh;
    position: relative;

}

.cabeçalho{
    max-width: 900px;
    min-width: 320px;
    height: 110px;
    padding: 10px 5px;
    background-color: #0b0715;
    
}
.cabeçalho picture img{
    width: 100%;
}
.cabeçalho nav{
    float: left;
}

.cabeçalho nav li{
    display: inline-block;
    padding: 2px 10px;
}

.fa-home:hover {
    color: rgb(8, 167, 196);
}
.fa-sticky-note:hover {
    color: rgb(8, 167, 196);
}

/* ---------------------------HEADER---------------------------- */

/* ---------------------------MAIN------------------------------ */

main{
    position: relative;
    max-width: 900px;
    min-width: 320px;
    height: 599px;
    background: url(imagens/F-16r.png) no-repeat;
}

article{
    text-align: justify;
    padding: 20px;
    font-size: 15pt;
    text-shadow: white 1px 1px 1px;
}

aside{
    text-align: center;
    }


/* ---------------------------MAIN------------------------------ */


.redirecionador{
    height: 300px;
    text-align: center;
}


/* ---------------------------FOOTER----------------------------- */

footer{
    text-align: center;
    color: rgb(186, 226, 226);
    background: #0b0715;
    position: relative;
    height: 150px;
}

.fa-instagram{
    color: orange;
}

.fa-instagram:hover {
    color: blue;
}

.fa-whatsapp{
    color: green;
}

.fa-whatsapp:hover {
   color: blue;
}

.fa-github{
    color: white;
}

.fa-github:hover{
    color: blue;
}

/* ---------------------RESPONSIVIDADE------------------- */

@media (max-width: 576px){
    .cabeçalho nav{
        float: none;
    
    }
    .cabeçalho nav li{
        display: inline-block;
    }
    main article{
        font: normal 12pt arial;
    }
    main{
        margin-bottom: 50px;
    }
    aside{
        color: white;
    }

}