.cabeçalho{
    grid-area: cabeçalho;
}
.rolagem{
    grid-area: rolagem;
}
.links-externos{
    grid-area: links-externos;
}
.rodapé{
    grid-area: rodapé;
}

body{
    grid-template-areas: 
    "cabeçalho cabeçalho"
    "informações rolagem"
    "rodapé rodapé"
    ;
}