body{
    display: flex;
    color: rgb(233, 225, 225);
    display: grid;
    overflow: hidden scroll;
}

.cabeçalho {
    background: #170f2e;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-family: "Bokor", system-ui;
    padding: 10px;
}

.link h1 {
    font-size: 50px;
}
.link {
    text-decoration: none;
    color: rgb(233, 225, 225);
}

nav .navegação{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    padding: 10px;
}
.item:hover {
    background-color: rgb(24, 77, 87);
    transition: 0.4s ease-in-out;

}

.navegação .cadastre-se {
    background: rgb(24, 77, 87);
    color: black;
    text-align: center;
    font-size: 23px;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
}

.navegação .cadastre-se:hover {
    background-color: rgb(127, 153, 158);
}

.informações{
    max-width: 150px;
    font-size: 13px;
    line-height: 20px;
    padding: 10px;
}

.informações p{
    margin-bottom: 20px;
}

.rolagem {
    height: 100%;
    margin-left: 0px;
}

.rolagem .fotos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 20px;
}

figure {
    margin-bottom: 40px;

}
figure img {
    max-width: 250px;
    max-height: 333px;
    border-radius: 5px;
}

.rodapé{
    text-align: center;
    color: rgb(186, 226, 226);
    background: #170f2e;
    padding: 10px;
    width: 100vw;
}

.fa-instagram{
    color: orange;
}

.fa-instagram:hover {
    color: blue;
}

.fa-github{
    color: white;
}

.fa-github:hover{
    color: blue;
}